@model SrchPolesModel
@{
    ViewData["Title"] = "Pole List";
}


<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                รายการ ข้อมูลทั้งหมด
                <div class="btn-actions-pane-right">
                    @*<div role="group" class="btn-group-sm btn-group">
                            <button class="active btn btn-focus">Last Week</button>
                            <button class="btn btn-focus">All Month</button>
                        </div>*@
                </div>
            </div>
            <div class="card-body">
                <form id="searchForm" name="searchForm" method="post">
                    <div class="searchArea" hidden>
                        <label>
                            <select asp-for="SelectedArea" asp-items="Model.AreaList" class="form-control form-control-sm">
                                <option value="" selected>พื้นที่บริเวณ</option>
                            </select>
                        </label>
                        <label>
                            <select asp-for="SelectedStreet" asp-items="Model.StreetList" class="form-control form-control-sm">
                                <option value="" selected>ถนน</option>
                            </select>
                        </label>
                        <label>
                            <select asp-for="SelectedStatus" class="form-control form-control-sm">
                                <option value="" selected>สถานะ</option>
                                <option value=1>ใช้งาน</option>
                                <option value=0>เสีย</option>
                            </select>
                        </label>
                        &nbsp;
                        <label>ค้นหา :<input asp-for="KeySearch" type="search" class="form-control form-control-sm"></label>
                        <button id="btn_search" type="button" class="mb-2 mr-2 btn btn-shadow btn-info"><i class="pe-7s-search"></i></button>
                    </div>
                    <div class="table-responsive">
                        <table style="width: 100%;" class="align-middle mb-0 table table-hover table-striped table-bordered dataTable dtr-inline" id="gv_poleslist">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Area</th>
                                    <th>Street</th>
                                    <th>Description</th>
                                    <th>Note</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </form>
                <div class="d-block text-center card-footer">
                    @*<button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger">
                            <i class="pe-7s-trash btn-icon-wrapper"> </i>
                        </button>
                        <button class="btn-wide btn btn-success">Save</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/tools.js"></script>
    <script src="~/js/e-poles-list.js" asp-append-version="true"></script>
    <script>
            var _form = new EPoles();
            $(document).ready(function () {
                _form.getUrl = '@Url.Action("GetDtPolesList")';
                _form.init();
            });
    </script>
}
