@{
    ViewData["Title"] = "Pole Management";
}
@model PoleViewModel

<link href="~/css/openlayers/ol.css" rel="stylesheet" />
<link href="~/css/openlayers/ol-layerswitcher.css" rel="stylesheet" />
<link href="~/css/openlayers/ol-customs.css" rel="stylesheet" />
<style>
    .rotate-north {
        top: 65px;
        left: .5em;
    }

    .ol-touch .rotate-north {
        top: 80px;
    }

    .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
    }

        .ol-popup-closer:after {
            content: "✖";
        }
</style>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-subheading opacity-10">
                <nav class="" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a>
                                <i aria-hidden="true" class="fa fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-action="Index">Pole Management</a>
                        </li>
                        <li class="active breadcrumb-item" aria-current="page">
                            Management
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xl-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                @*<h5 class="card-title">Income Report</h5>*@
                <div class="widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0">
                    <div id="map" class="map"></div>
                    <div id="popup" class="ol-popup">
                        <div id="popup-content"></div>
                    </div>
                    <div id="popup2" class="ol-popup">
                        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                        <div id="popup-content2"></div>
                    </div>
                    <div id="popup3" class="ol-popup">
                        <div id="popup-content3"></div>
                        <a href="#" id="popup-delete" style="float: right; font-size: 12px;">ลบ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">เพิ่มข้อมูล</h5>
                <form id="formPole" asp-action="CreatePoles" method="post">
                    <div class="position-relative row form-group">
                        <label asp-for="Latitude" class="col-sm-2 col-form-label">Latitude</label>
                        <div class="col-sm-4">
                            <input asp-for="Latitude" class="form-control" />
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            <span asp-validation-for="Latitude" class="text-danger"></span>
                        </div>
                        <label asp-for="Longitude" class="col-sm-2 col-form-label">Longitude</label>
                        <div class="col-sm-4">
                            <input asp-for="Longitude" class="form-control" />
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            <span asp-validation-for="Longitude" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input asp-for="Name" class="form-control" />
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Street" class="col-sm-2 col-form-label">Street</label>
                        <div class="col-sm-10">
                            <input asp-for="Street" class="form-control" />
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Area" class="col-sm-2 col-form-label">Area</label>
                        <div class="col-sm-10">
                            <input asp-for="Area" class="form-control" />
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            <span asp-validation-for="Area" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <input asp-for="Description" class="form-control" />
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Note" class="col-sm-2 col-form-label">Note</label>
                        <div class="col-sm-10">
                            <input asp-for="Note" class="form-control" />
                        </div>
                    </div>
                    <div class="position-relative row form-group">
                        <label asp-for="Status" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <select asp-for="Status" class="form-control">
                                <option value=true>ใช้งาน</option>
                                <option value=false>เสีย</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" id="btnsubmit" class="mt-1 btn btn-primary">ตกลง</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/openlayers/ol.js"></script>
    <script src="~/lib/openlayers/ol-layerswitcher.js"></script>
    <script src="~/js/admin/poles-manage/create.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var _form = new EPoles();
        $(document).ready(function () {
            _form.getUrl = '@Url.Action("GetAllPoles")';
            _form.createPoleUrl = '@Url.Action("CreatePoles")';
            _form.deletePoleUrl = '@Url.Action("DeletePoles")';
            _form.init();
        });
    </script>
}
