@{
    ViewData["Title"] = "Pole Management - List";
}

<div class="app-page-title app-page-title-simple">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>
                <div class="page-title-subheading opacity-10">
                    <nav class="" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a>
                                    <i aria-hidden="true" class="fa fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a>Pole Management</a>
                            </li>
                            <li class="active breadcrumb-item" aria-current="page">
                                Poles List
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mbg-3 alert alert-info alert-dismissible fade show" role="alert">
    <span class="pr-2">
        <i class="fa fa-question-circle"></i>
    </span>
    This dashboard example was created using only the available elements and components, no additional SCSS was
    written!
</div>

@section Scripts{
    <script src="~/js/e-poles.js" asp-append-version="true"></script>
    <script>
        var _form = new EPoles();
        $(document).ready(function () {
            _form.getUrl = '@Url.Action("GetAllPoles")';
            _form.init();
        });
    </script>
}
